<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/new.css">
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <h2>Create new post</h2>
    <form method="post" action="/posts">
        <div class="user">
            <label for="user_name">Enter username :</label><br>
            <input type="text" name="username" id="user_name">
        </div>
        <div class="con">
            <label for="user_con">Enter content :</label><br>
            <textarea name="content" id="user_con" rows="10" cols="30
            "></textarea>
            <br>
            <button>Submit</button>
        </div>
    </form>
</body>

</html>