<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Post Display</title>
    <link rel="stylesheet" href="/show.css">
    <link rel="stylesheet" href="style.css">


</head>

<body>
    <div class="main-box">
        <div class="post-container">
            <h5 class="id">ID: <%= post.id %>
            </h5>
            <h1 class="Uname">Username: <%= post.username %>
            </h1>
            <p class="content">
                <%= post.content %>
            </p>


        </div>
    </div>
</body>

</html>